@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.buttonStlyeCommon {
  border: none;
  font-weight: 500;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  clip-path: polygon(
    16px 0,
    100% 0%,
    100% calc(100% - 16px),
    calc(100% - 16px) 100%,
    0% 100%,
    0% 16px);
  cursor: pointer;
  font-family: "Chakra Petch", sans-serif;
  transition: all 0.5s ease;
}

.buttonStyleYellow {
  background-color: #FFEE08;
  color: black;
}

.buttonStyleYellow:hover {
  background-color: black;
  color: #FFEE08;
}

.buttonStyleBlack {
  background-color: black;
  color: #FFEE08;
}

.buttonStyleBlack:hover {
  background-color: #FFEE08;
  color: black;
}

.buttonStyleDisabled {
  background-color: #FFFCCF;
  color: #8B8B8B;
  cursor: default;
}